<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jsfspring.dao.CursoMapper">

	<resultMap id="cursoResultMap" type="jsfspring.bean.Curso">
		<constructor>
			<idArg column="id_curso" javaType="Long"/>
			<arg column="activo" javaType="Boolean" />
			<arg column="titulo" javaType="String"/>
			<arg column="nivel" javaType="String"/>
			<arg column="horas" javaType="Integer"/>
			<arg column="id_profesor" javaType="Long"/>
		</constructor>
	</resultMap>


	<select id="getListaCursos" resultMap="cursoResultMap">
		select <include refid="cursoColumns"/>
		from cursos where activo=true
	</select>
	
	<insert id="insert" parameterType="jsfspring.bean.Curso" useGeneratedKeys="true" keyColumn="id_curso" keyProperty="id">
		insert into cursos(activo,titulo,nivel,horas,id_profesor)
		values (#{activo},#{titulo},#{nivel},#{horas},#{idProfesor})
	</insert>

	<sql id="cursoColumns">
		id_curso, activo,titulo,nivel,horas,id_profesor
	</sql>
    
</mapper>