<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jsfspring.dao.CursoMapper">
	
	<select id="listarCursos" resultType="jsfspring.model.Curso">
		select * from cursos where activo=true
	</select>
	
	<insert id="insert" parameterType="jsfspring.model.Curso">		
		insert into cursos(activo,titulo,nivel,horas,profesor)
		values (#{activo},#{titulo},#{nivel},#{horas},#{profesor})
	</insert>
    
</mapper>